name: Style

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  schedule:
    # Run nightly to check that tests are working with latest dependencies
    - cron: "0 0 * * *"

jobs:
  style:
    strategy:
      matrix:
        python-version: ["3.9", "3.12"]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install grid3d-maps
        run: |
          pip install -U pip
          pip install ".[tests]"

      - name: List all installed packages
        run: pip freeze

      - name: ruff check
        if: ${{ always() }}
        run: ruff check .

      - name: ruff format
        if: ${{ always() }}
        run: ruff format . --check
