name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  schedule:
    # Run nightly to check that tests are working with latest dependencies
    - cron: "0 0 * * *"

permissions:
  contents: read
  pull-requests: write

jobs:
  testing:
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
        os: [ubuntu-latest]
        include:
          - os: macos-latest
            python-version: 3.11
    runs-on: ${{ matrix.os }}
    env:
      MPLBACKEND: Agg

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Ert Ubuntu dependencies
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          sudo apt-get update
          sudo apt-get install libegl1

      - name: Install grid3d-maps
        run: |
          python -m pip install -U pip
          pip install ".[tests]"

      - name: List all installed packages
        run: pip freeze

      - name: Run test
        run: pytest -n auto --disable-warnings
